
.signin_company_name {
    width: 60%;
    position: fixed;
    top: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
}

.signin_main{
	background: #ebeef2;
	height: 100vh;
	display: flex;
}

.signin_left{
	width: 40%;	
	margin-right: auto;
	background:
        linear-gradient(#16626430, transparent),
        linear-gradient(to top right, white, transparent),
        linear-gradient(to top left, white, transparent);
}
 

.signin_right{  
	width: 60%;
	/*background: teal;*/
	background:
        linear-gradient(teal, transparent),
        linear-gradient(to top right, white, transparent),
        linear-gradient(to top left, #482ac1f0, transparent);
}

.signin_right img{	
    vertical-align: middle;
    margin-top: 133px;
    margin-left: 93px;
    max-width: 100%;
  	height: auto;
}





.signin{
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	color: white;
	margin-top: 100px;
	background: #9fa7a7;
	padding: 20px;
}
.signinform{
	padding-left: 20px;
	padding-top: 40px;
}


input[type="text"] {
    height: 40px;
    border-radius: 10px;
    color: black;
    font-family: revert;
}

input[type="password"] {
    height: 40px;
    border-radius: 10px;
    color: #072a5e;
    font-size: 30px;
    padding: 0px 0px 0px 30px;
}

input[type="submit"] {
  width: 50%;
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: teal;
  border: 1px solid white;
  color: #fff;
  padding: 10px 0px 10px 0px;
  border-radius: 7px;
}
 

.button-container {	 
	display: flex;
	justify-content: center;
}

.input-container{
	position: relative;
} 


.eye_icon{
	position: absolute;
	top: 32px;
	right: 50px;
	color: white;
	background: #118789;
	height: 40px;	
	width: 80px;
	border-radius: 0px 10px 10px 0px;
	text-align: center;
	padding: 0px 0px 0px 0px;
	font-size: 22px;
	cursor: pointer;
}


.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.input-remember {
  display: flex;
  padding-left: 10px;  
}

input[type=text] {
  width: 90%;    
  padding-left: 10px;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=password] {
  width: 90%;  
  padding-left: 10px;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;  
}


.privacy_policy {
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
    color: teal;
    margin-top: 80px;    
    padding: 20px;
    font-family: revert;
    cursor: pointer;
}












.main{
	width: 100%;
	display: flex;
}

.header {
    height: 10vh;
    background: teal;
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 25px;
    font-family: fantasy;
    padding-left: 35px;
    display: flex;            
}
.header_company_name{	
	margin-right: auto;
  cursor: pointer;
}
.header_profile{
	display: flex;			
}

.header_toggle {
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    font-family: ui-rounded;
    cursor: pointer;    
    margin: auto;
}

.header_toggle:hover{
	background: #6b9191a6;
	border-radius: 5px;
}



.main_menu_icons{
  position: absolute;
  right: 15px;
  top: 15px;
}
 


.left_side{
	width: 250px;	
	background: teal;
	height: calc(90vh);
	padding: 20px 0px 20px 0px;
	/*color: white;*/	
	overflow: auto;
	cursor: pointer;
	border-right: 1px solid white;
}

.left_side::-webkit-scrollbar {
  width: 1px;
}
.left_side::-webkit-scrollbar-thumb {
  background: pink; 
}



.right_side{
	width: calc(100% - 250px);
	height: calc(90vh);
	background: lightgray;
	padding: 15px;
	cursor: not-allowed;
}

.main_menu{
	line-height: 45px;
	padding-left: 19px;
	border-bottom: 1px solid gray;	
  color: white;
  position: relative;
}
.main_menu:hover {
	line-height: 45px;
    color: white;
    background: #6b9191a6;
    padding-left: 19px;
}
.sub_menu{	
	padding-left: 35px;
}

.sub_menu_btn{	
	line-height: 40px;
	border-bottom: 1px solid gray;	
}
.sub_menu_btn a{
	padding-left: 15px;
	text-decoration: none;
	color: white;
}	

.sub_menu_btn:hover{
	color: white;		
	background: #0a090a30;
	text-decoration: none;
}

.sub_menu_btn a:hover{
	color: white;			
	text-decoration: none;
}

 